<div class="container" *ngIf="product && productForm">
  <p-toast></p-toast>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <h1>Editar Produto</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-product-fields #productFields (notify)="onNotify($event)" [productForm]="productForm" [product]="product">
      </app-product-fields>
    </div>
  </div>

  <div class="row" style="margin: auto; margin-bottom: 15px">
    <div class="container-img-card" style="margin-right: 5px" *ngFor="let imgUrl of product.listProdImgUrls">
      <img [src]="imgUrl.fullUrl" alt="" />
      <div class="overlay"></div>
      <div class="button">
        <a (click)="removeProdImg(imgUrl.id)">Remover</a>
      </div>
    </div>
  </div>

  <!-- TODO: Criar componente global -->
  <div class="row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-default" (click)="cleanForm()">
        <i class="fa fa-eraser"></i>&nbsp;Limpar
      </button>
      <button class="btn btn-danger" (click)="cancelForm()">
        <i class="fa fa-stop"></i>&nbsp;Cancelar
      </button>
      <button class="btn btn-success" id="btnUpdateProduct" [disabled]="productForm.invalid" (click)="update()">
        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>&nbsp;
        <i class="fa fa-refresh"></i>&nbsp;Atualizar
      </button>
    </div>
  </div>
</div>
