<app-modal-delete-product [product]="product"
  (notify)="onNotify($event)"></app-modal-delete-product>

<div class="container" *ngIf="product">
  <div class="row">
    <div class="col-sm-8 col-lg-8">
      <h2>{{product.name}}</h2>
    </div>
    <div class="col-sm-4 text-right">
      <button class="btn btn-default" (click)="goToEditProduct()">
        <i class="fa fa-edit"></i>&nbsp;Editar
      </button>
      <button class="btn btn-danger" (click)="showModalDeleteProduct()">
        <i class="fa fa-stop"></i>&nbsp;Deletar
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 img-responsive" [ngClass]="{'border': product.photo}">
      <img *ngIf="product.photo" src="data:image/PNG;base64,{{product.photo}}" class="img-fluid">
    </div>
    <div class="col-1"></div>
    <div class="col-lg-3 border">
      <div class="row">
        <div class="col-sm-12">
          <h6>
            <i class="fa fa-money"></i>&nbsp;Preço
          </h6>
          <p>{{product.price | currency: 'BRL'}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-6" *ngIf="product.width">
          <h6>
            <i class="fa fa-arrows-h"></i> Largura
          </h6>
          <p>{{product.width}}</p>
        </div>
        <div class="col-sm-6 col-lg-6" *ngIf="product.height">
          <h6>
            <i class="fa fa-arrows-v"></i> Altura
          </h6>
          <p>{{product.height}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-6" *ngIf="product.diameter">
          <h6>Diâmetro</h6>
          <p>{{product.diameter}}</p>
        </div>
        <div class="col-sm-6 col-lg-6" *ngIf="product.weight">
          <h6>
            <i class="fa fa-balance-scale"></i> Peso
          </h6>
          <p>{{product.weight}}</p>
        </div>
      </div>
      <div class="row" *ngIf="product.registerDateStr">
        <div class="col-sm-12">
          <h6>
            <i class="fa fa-calendar"></i> Data de registro
          </h6>
          <p>{{product.registerDateStr}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="product.categories && product.categories.length > 0">
    <div class="col-12 border">
      <h6>Categorias</h6>
      <span style="margin-right: 5px;" class="badge badge-primary" *ngFor="let category of product.categories">
        {{category.name}}
      </span>&nbsp;
    </div>
  </div>
  <div class="row" *ngIf="product.description">
    <div class="col-lg-12 border">
      <h6>Descrição</h6>
      {{product.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-galleria [images]="images" [showCaption]="false"></p-galleria>
    </div>
  </div>
</div>
