<p-toast></p-toast>
<div class="container">

  <p-dialog header="{{productSelected?.name}}" [(visible)]="displayDialog"
            [draggable]="false" [contentStyle]="{'max-width':'1300px'}">
    <div class="col-lg-12 col-md-6 col-sm-6">
      <img class="img-fluid" *ngIf="productSelected" [src]="productSelected.sanitizeImgUrl">
    </div>
  </p-dialog>

  <p-dialog *ngIf="productSelected" [(visible)]="displayDialogDeleteProduct" [modal]="true">
    <p-header>
      Remover Produto
    </p-header>
    Tem certeza que deseja remover o produto "{{productSelected.name}}" ?
    <p-footer>
      <div class="row">
        <div class="col-12 pull-right">
          <button class="btn btn-danger" (click)="displayDialogDeleteProduct = false">
            <i class="fa fa-stop"></i>&nbsp;Não
          </button>
          <button class="btn btn-success" (click)="removeProduct()">
            <i class="fa fa-check"></i>&nbsp;Sim
          </button>
        </div>
      </div>
    </p-footer>
  </p-dialog>

  <div class="row">
    <!--<div class="col-lg-9 col-md-9 col-sm-5 d-flex align-items-start">
      <h1><i class="fa fa-shopping-cart"></i>&nbsp;Produtos</h1>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-7 d-flex align-items-end flex-column bd-highlight align-self-center">
      <button class="btn btn-default" data-toggle="collapse" data-target="#collapseProductFilters"
              aria-expanded="true" aria-controls="collapseProductFilters" (click)="showCardProductFilters()">
        <i class="fa fa-search"></i>&nbsp;Pesquisar
      </button>
      <button class="btn btn-primary" (click)="goToNewProduct()">
        <i class="fa fa-plus"></i>&nbsp;Novo
      </button>
    </div>-->
    <div class="col-lg-3 col-md-3 col-sm-5">
      <h1><i class="fa fa-shopping-cart"></i>&nbsp;Produtos</h1>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-7 d-flex align-items-center justify-content-end">
      <button class="btn btn-default" style="margin-right: 5px"
              (click)="showCardProductFilters()">
        <i class="fa fa-search"></i>&nbsp;Pesquisar
      </button>
      <button class="btn btn-primary" (click)="goToNewProduct()">
        <i class="fa fa-plus"></i>&nbsp;Novo
      </button>
    </div>
  </div>
  <!--Filtrar Pesquisa-->
  <div class="row" [@toogleSearch]="toogleProdSearch">
    <div class="col-12">
      <div class="card">
        <div id="collapseProductFilters">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8 col-md-6 col-sm-8 form-group">
                <label class="form-control-label">Nome</label>
                <input type="text" class="form-control" [(ngModel)]="filter.name" name="name"
                       (keyup.enter)="search(filter.page)" placeholder="buscar por nome">
              </div>
              <div class="col-lg-2 col-md-3 form-group d-sm-none d-md-block">
                <label class="form-control-label">Preço</label>
                <input type="text" class="form-control" currencyMask [(ngModel)]="filter.price" name="price"
                       (keyup.enter)="search(filter.page)" placeholder="buscar por preço"
                       [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }">
              </div>
              <div class="col-lg-2 col-md-3 col-sm-4 form-group">
                <button class="btn btn-primary pull-right" style="margin-top: 30px;" id="btnSearchProducts" (click)="search(filter.page)">
                  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>&nbsp;
                  <i class="fa fa-search"></i>&nbsp;Pesquisar
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12 form-group">
                <p-autoComplete [suggestions]="categories" field="name"
                                (onSelect)="onSelectAutoCompleteCategories($event)"
                                (onUnselect)="onUnselectAutoCompleteCategories($event)"
                                placeholder="Buscar por categorias"
                                (completeMethod)="filterCategoryMultiple($event)" [multiple]="true">

                </p-autoComplete>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p-dataView [value]="products" [emptyMessage]="msgNoRecords" [paginator]="true" [rows]="10"
      [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="totalRecords">
        <ng-template let-product pTemplate="listItem">
          <div class="row" style="padding: 2em;" [@productAppeared]="productState" [@row]="rowState">
            <div class="col-lg-4 col-sm-4" style="text-align:center; border-bottom: 1px solid #d9d9d9">
              <img *ngIf="product.photo" (click)=showDialogProductImg(product)
                   class="img-thumbnail" [src]="product.sanitizeImgUrl">
            </div>
            <div class="col-lg-6 col-sm-6" style="border-bottom: 1px solid #d9d9d9">
              <div class="row">
                <div class="col-lg-3">
                  Nome:
                </div>
                <div class="col-lg-9">
                  <b>{{product.name}}</b>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3">
                  Preço:
                </div>
                <div class="col-lg-9">
                  <b>{{product.price | currency:'BRL':'1.2-2'}}</b>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-sm-2" style="border-bottom: 1px solid #d9d9d9">
              <button class="btn btn-default" pTooltip="Detalhes" tooltipPosition="left"
                      [routerLink]="['/products/details', product.id]">
                <i class="fa fa-search"></i>
              </button>
              <button class="btn btn-primary" pTooltip="Editar" tooltipPosition="top"
                      [routerLink]="['/products/edit', product.id]">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger" pTooltip="Remover" tooltipPosition="right"
                      (click)="showModalDeleteProduct(product)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>
