<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <a class="navbar-brand" href="#">Quadros e Painéis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
          (click)="tootleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!--<li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/']">
          Início <span class="sr-only">(current)</span>
        </a>
      </li>-->
      <li class="nav-item dropdown" routerLinkActive="active" id="menu-item-PRODUCTS">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toogleMenuProducts()">
          Produtos
        </a>
        <div class="dropdown-menu {{showMenuProduct}}"  aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="hideMenuProduct()" [routerLink]="['/products']">Listagem</a>
          <a class="dropdown-item" (click)="hideMenuProduct()" [routerLink]="['/products/sort']">Reordenar</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active" id="menu-item-CATEGORIES">
        <a class="nav-link" [routerLink]="['/categories']">Categorias</a>
      </li>
    </ul>
  </div>

  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li class="user user-menu">
        <div *ngIf="isLoggedIn(); else isNotLooged" class="d-flex align-content-between">
          <span style="color: white" class="d-none d-sm-block">Olá, {{user?.name}}</span>&nbsp;|&nbsp;<a (click)="logout()">Sair</a>
        </div>
        <ng-template #isNotLooged>
          <a [routerLink]="['/login']">Entrar</a>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>
